/*  */
.inicial {
    border: 1px solid red;
}

/*  */
.container-display {
    display: block;
    border: 1px solid red;
}
.item-display {
    width: 40%;
    border: 1px solid black;
}

/*  */
.container-flex-direction {
    display: flex;
    flex-direction: row;
    flex-direction: column;
    border: 1px solid red;
}
.item-flex-direction {
    width: 40%;
    border: 1px solid black;
}